<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator</title>
</head>

<body>
    <div>
        <h1><%=title%></h1>
        <h2>administratorska stranica</h2>
    </div>
    <div>
        <form action="/login-check" method="get">
            <label for="mail">mail administratora</label>
            <input type="email" id="mail">

            <label for="password">administratorska lozinka</label>
            <input type="password" name="password" id="password">

            <input type="submit" value="potvrdi">
        </form>
    </div>
</body>

</html>