<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/styleCommon.css' />
    <link rel='stylesheet' href='/stylesheets/styleHome.css' />
    
  </head>

  <body>
    
    <section class="section_wrapper">
      <div class="head1">
        <h1><%= title %></h1>
      </div>
      
      <div class="div_image">
        <img src="/images/refer.png" alt="sig-in image">
      </div>
      <div class="div_log_sign">
        <a href="login-user">log in</a>
        <a href="sign">sign in</a> 
      </div>    

      <div class="div_admin">
         <a href="login-admin">administratorska stranica</a> 
      </div>

    </section>
  </body>
</html>
