<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prijava</title>
</head>

<body>
    <div>
        <h1><%=title%></h1>
        <h2>Prijava u bazu podataka</h2>
    </div>

    <div>
        <form action="/login" method="POST">
            <label for="mail">mail</label>
            <input type="email" name="mail">

            <label for="password">lozinka</label>
            <input type="password" name="password">

            <input type="submit" value="potvrdi">
        </form>
    </div>
    <a href="/">Povratak na poÄetnu stranicu</a>


</body>

</html>