
form{
    padding:1rem;
    display:grid;
    gap:1rem;
    grid-template-columns: repeat(2,1fr);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:1rem;
}
form>div:last-of-type{
    grid-column:1/3;
    grid-row:2/3;
    width:200px;
    justify-self: center;
    align-self: center;

}
form div{
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;
}
form div>label{
    letter-spacing: 2px;
    margin:.3rem;
}
form div>input{
    padding:1rem;
    margin:1rem;
    border-radius: 5px;
    border-color:transparent;
}
form>input[type=submit]{
    margin:2rem;
    padding:1rem;
    grid-column:1/3;
    grid-row:3/4;
    justify-self: center;
    align-self: center;
    width:200px;
}

.section_wrapper a{
    text-decoration: none;
   color:white;
    background-color: #354c76;
    padding:1rem;
    border-radius: 5px;

}